# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Variáveis de ambiente
.env

# Distribuição / empacotamento
dist/
build/
*.egg-info/
.eggs/

# IDEs
.codex
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db
